{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "importOrder": [
    "^react$",
    "^react-dom$",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^(@api|@assets|@components|@public)(/.*)$",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ],
  "jsxSingleQuote": false,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 80,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}